<nb-list>
    <nb-list-item *ngFor="let item of todos$|async" class="padding">
        <nb-card class="card">
            <nb-card-header>
                <div class="row">
                    <h3>
                        {{item.title}}
                    </h3>
                    <button nbButton status="danger" (click)="onDelete(item)">
                        <nb-icon icon="trash"></nb-icon>
                    </button>
                </div>
            </nb-card-header>
            <nb-card-body>
                {{item.description}}
            </nb-card-body>
        </nb-card>
    </nb-list-item>
</nb-list>