<nb-card>
    <nb-card-header>
        <h3>
            New Task
        </h3>
    </nb-card-header>
    <nb-card-body>
        <form #form="ngForm" (ngSubmit)="onSubmit($event)">
            <div>
                <input nbInput type="text" [(ngModel)]="model.title" name="title" required minlength="6"/>
            </div>
            <div>
                <textarea nbInput type="text" style="width: 100%; height: 100%;" name="description" [(ngModel)]="model.description">
                </textarea>
            </div>
            <div>
                <input nbButton type="submit">
            </div>
        </form>
    </nb-card-body>

</nb-card>